<div class='left-forms'>
  <h3 class="hover">Contact</h3>
  <div class='contact-form mini-padding rounded-input-ele'>
    <form class='js-add-contact'>
      <input class="save-btn" type='submit' value="Save">
      <input type='textfield' placeholder='Name' name='name'>
      <input type='tel' placeholder='Phone Number' name='phone'><br>
    </form>
  </div>

  <div class='message-box mini-padding rounded-input-ele'>
    <form class='js-send-message'>
      <input type='submit' name='Send'>
      <input type='textarea' name='message' placeholder='Write Text Message Here'>
      <input type='hidden' name='contactid' value='none'>
    </form>
  </div>
</div>

<div class='contacts-div'>
  <h3 class='hover'>Contacts</h3>
  <div class='js-contact-list contact-iterator'>
      <%@all_contacts.each do |contact|%>
        <div class='js-contact-info'
             data-contactid=<%= contact['id']%>
             data-contactphone=<%= contact['number']%> >
          <%= contact['name'] %>
        </div>
      <%end%>
  </div>
</div>

